## Twitter User Influence Analytics for 4/19 - 5/9

In [162]:
import csv 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
df = pd.read_csv('data/4_19-5_9.csv', quoting=csv.QUOTE_NONE, encoding='utf-8')
%matplotlib inline

In [163]:
from IPython.core.display import HTML
css = open('css/style-table.css').read() + open('css/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [164]:
df.head(1)

,id,date,text,retweet_count,favorite_count,coordinates_lat,coordinates_long,user_screen_name,user_created_at,user_location,user_description,user_followers_count,user_friends_count,user_listed_count,user_favorites_count,user_statuses_count
0,724826943858855938,Mon Apr 25 22:06:24 PDT 2016,"""He would be annihilated. He would not win a s...",1.0,2.0,NaN,NaN,Waycooljr62,Mon Feb 22 22:36:43 PST 2016,Salem OR,Single 53 y/o man from the Pacific Northwest. ...,288.0,276.0,9.0,1831.0,2644.0

In [203]:
ave_retweet_count = df[df['retweet_count'].notnull()]['retweet_count'].mean()
ave_favorite_count = df[df['favorite_count'].notnull()]['favorite_count'].mean()
ave_followers_count = df[df['user_followers_count'].notnull()]['retweet_count'].mean()

In [204]:
ave_retweet_count

78.185112795090745

In [205]:
ave_favorite_count

96.102006944596098

In [206]:
ave_followers_count

78.185112795090745

### Important people

greater than (ave_retweet_count, ave_favorite_count, ave_followers_count)

In [216]:
imp = df[(df['retweet_count'] > ave_retweet_count) & (df['favorite_count'] > ave_favorite_count) & (df['user_followers_count'] > zz)]

In [217]:
imp.head(1)

,id,date,text,retweet_count,favorite_count,coordinates_lat,coordinates_long,user_screen_name,user_created_at,user_location,user_description,user_followers_count,user_friends_count,user_listed_count,user_favorites_count,user_statuses_count
38,725644176566661121,Thu Apr 28 04:13:48 PDT 2016,"""The Media won't be satisfied until Trump give...",258.0,459.0,NaN,NaN,mitchellvii,Mon Dec 08 17:54:21 PST 2008,Charlotte NC,Trump is MAGA! Make sure to catch me co-hostin...,45589.0,3501.0,543.0,10090.0,52641.0

In [218]:
len(imp)

6154

#### Average Number of Followers

In [219]:
ave_fol = imp['user_followers_count'].mean()
round(ave_fol, 2)

981740.33

#### Average Number of Friends

In [220]:
ave_fri = imp['user_friends_count'].mean()
round(ave_fri, 2)

11799.34

#### Average Star ratio

In [221]:
ave_star = ave_fol / ave_fri
round(ave_star, 2)

83.2

#### Average Number of groups they are in

In [222]:
ave_list = imp['user_listed_count'].mean()
round(ave_list, 2)

6261.57

#### Average Number of Statuses they posted

In [223]:
ave_status = imp['user_statuses_count'].mean()
round(ave_status, 2)

48592.05

#### Average Number of Tweets per Day

In [224]:
def parseDate(row):
    a = parser.parse(row['date'])  
    b = parser.parse(row['user_created_at'])
    numDays = (a-b).days
    if numDays != 0:
        return row['user_statuses_count'] / numDays
    else:
        return row['user_statuses_count']

In [225]:
imp['tweets_per_day'] = imp.apply(parseDate, axis=1)

/home/samskim/miniconda2/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [226]:
imp.head(1)

,id,date,text,retweet_count,favorite_count,coordinates_lat,coordinates_long,user_screen_name,user_created_at,user_location,user_description,user_followers_count,user_friends_count,user_listed_count,user_favorites_count,user_statuses_count,tweets_per_day
38,725644176566661121,Thu Apr 28 04:13:48 PDT 2016,"""The Media won't be satisfied until Trump give...",258.0,459.0,NaN,NaN,mitchellvii,Mon Dec 08 17:54:21 PST 2008,Charlotte NC,Trump is MAGA! Make sure to catch me co-hostin...,45589.0,3501.0,543.0,10090.0,52641.0,19.518354

In [227]:
imp['tweets_per_day'].mean()

33.193429831181156

#### Specify Location

In [228]:
imp_with_location = imp[(imp['user_location'].notnull()) | (imp['coordinates_lat'].notnull())]

In [229]:
len(imp_with_location)

4942

In [234]:
imp_with_location['user_location'].head()

38          Charlotte  NC
64        Progressive USA
95     Espa√±a. Marzo 2014
100    Underground Bunker
110              New York
Name: user_location, dtype: object